/* Contenedor de la información de la semana */
.semana-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .semana-info {
    display: flex;
    flex-direction: column; /* Para apilar el texto y el calendario */
    align-items: center; /* Centrar horizontalmente */
    margin: 0 10px; /* Margen horizontal opcional */
    font-size: x-small;
  }
  
  
  .semana-text {
    font-size: 18px;
  }
  
  .boton {
    background-color: #5d9cec;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boton-semana:hover {
    background-color: #4a8fd4;
  }
  
  /* Contenedor de productos */
  .productos-container {
    text-align: start; /* Añadido margen para separar de la sección superior */
  }
  
/* Ajuste en el contenedor del buscador */
.buscador-container {
  display: flex;                  /* Utilizar flexbox para alinear elementos */
  flex-direction: row;         /* Apilar elementos verticalmente */
  width: 300px;                  /* Ancho fijo o ajustable según lo desees */
  margin-top: 10px;
}

/* Ajuste en la entrada del buscador */
.buscador-input {
  background-color: #f3fbff;
  padding: 8px;                  /* Ajustar el espaciado interno para hacerlo más pequeño */
  border: 1px solid #ccc;         /* Borde del input */
  border-radius: 4px;                 /* Tamaño de fuente */
  transition: border-color 0.3s;  /* Suavizar el cambio de color del borde */
  height: 2vh; /* Ajusta el ancho según sea necesario */
  font-size: small; /* Cambia el tamaño de la fuente si lo deseas */
}

  
  .buscador-label {  
    font-size: x-small;
    justify-content: center;
    margin-right: 6px;
  }
  
  
  
  .buscador-input:focus {
    border-color: #3e95ff;          /* Cambiar el color del borde al enfocar */
    outline: none;                  /* Quitar el contorno por defecto */
  }
  
  /* Divider para separar secciones */
  .divider {
    margin: 20px 70px;
    border: none;
    border-top: 1px solid #dcdcdc;
  }
  
  .productos-container-scroll {
    display: flex;
    font-size: small;
    overflow-x: auto;
    gap: 10px;
    scrollbar-width: thin;
    scrollbar-color: #0084ff transparent;
    min-width: 400px; /* Establecer un ancho mínimo */
}

  
  /* Contenedor de los días de la semana */
  .dias-semana-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que los días se ajusten a múltiples líneas */
    justify-content: space-between; /* Espacio igual entre cada día */
    align-items: flex-start; /* Alinear verticalmente al inicio */
    padding: 0 20px; /* Ajustar el padding para que no sobresalga */
    margin-bottom: 20px;
  }
  
  .dia {
    border: 1px solid rgb(231, 231, 231);
    flex: 1 1 calc(20% - 20px); /* Usar flexbox para definir el ancho */
    height: 40vh; /* Altura mínima para los días */
    max-width: 30vh; /* Ancho máximo */
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow-y: auto; /* Permitir desplazamiento si el contenido excede el tamaño */
  }


.dia.drag-over {
    background-color: #b2e4ff; /* Color al pasar un producto por encima */
}



  
.producto-container {
  background: #1976d2;
  color: rgb(255, 255, 255);
  margin-bottom: 1px;
  padding: 10px;
  font-size: small;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* Asignar anchos específicos a los elementos */
.producto-nombre {
  flex: 5; /* 70% del ancho total */
  text-align: left; /* Alinear a la izquierda */
  font-size: x-small;
}

.producto-cantidad {
  flex: 4; /* 20% del ancho total */
  text-align: right; /* Alinear a la derecha */
  font-size: xx-small;
}


/* Botón quitar (puedes ajustar el tamaño también si es necesario) */
.quitar-btn {
  color: #003b72;
  font-size: large;
  flex: 1; /* 10% del ancho total */
  background: transparent; /* Sin fondo */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambiar el cursor a puntero */
}


/* Ajuste en la etiqueta del producto */
.producto-container span {
  overflow: hidden; /* Evita que el texto se desborde */
  text-overflow: ellipsis; /* Muestra '...' si el texto es demasiado largo */
  white-space: nowrap; /* Evita el salto de línea */
  text-align: center; /* Centra el texto */
  width: 100%; /* Ancho completo para el texto */
}
/* Efecto de hover para interacción */
.producto-container:hover {
    background-color: #0058ab;
    transform: translateY(-3px); /* Mueve ligeramente el contenedor hacia arriba */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Aumenta la sombra en hover */
}

  
  .quitar-btn:hover {
    opacity: 0.7;           /* Efecto de hover */
    
  }


  
  .p-card-title {
    background: #1976d2;
    color: white;

    display: flex;              
    justify-content: center;    
    align-items: center;        
    height: 25px;              
    width: 200px;               
    text-align: center;        
    overflow: hidden;          
    text-overflow: ellipsis;   
    white-space: nowrap; 
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */  
     
    
  }

  .p-card-title:hover {
    transition: 0.4s;
    background-color: #0058ab;
    transform: translateY(-3px); /* Mueve ligeramente el contenedor hacia arriba */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Aumenta la sombra en hover */
}
  .semana-info-container {
    background-color: #f0f8ff; /* Fondo claro para contrastar */
    padding: 10px 20px; /* Espaciado alrededor del contenido */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.semana-text {
    font-size: 1.2em; /* Aumentar el tamaño de la fuente */
    color: #333; /* Color del texto */
}
.titulo-pagina {
  color: #ffffff; /* Color del texto */
  text-align: center; /* Centrado horizontal */
  padding: 15px 0; /* Espaciado vertical */
  background: #1976d2; /* Degradado de fondo */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  margin-bottom: 20px; /* Espacio inferior para separación */
}
input {
  
  border: 1px solid #ccc; /* Puedes ajustar el borde también si lo deseas */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados opcionalmente */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  transition: background-color 0.3s; /* Para un efecto suave en el cambio de color */
}
.envios { 
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
}
.button-container {
  display: flex; /* Usar flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
  margin-top: 20px; /* Margen superior para separar de otros elementos */
}

.custom-button {
  background: linear-gradient(to right, rgba(77, 180, 172, 1) 0%, rgba(25, 118, 210, 1) 60%); /* Degradado */
  color:white;
  border: 1px solid #ffffff; 
  border-radius: 4px; /* Bordes redondeados */
  padding: 8px 16px; /* Espaciado interno */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  font-size: 14px; /* Tamaño de fuente */
  display: flex; /* Para alinear el ícono y el texto */
  align-items: center; /* Alinear verticalmente */
  justify-content: center; /* Alinear horizontalmente */
  
}

.custom-button:hover {
  background: #f4f4f4; /* No cambiar el color al pasar el ratón */
  color:black;
  transition: 0.2s;
  border: 1px solid #d6d6d6; 

}

.custom-button i {
  
  margin-right: 4px; /* Espacio entre el ícono y el texto */
}

.calendario-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
}

.card{
  border:none;
}
.no-productos-image {
  max-width: 50%;
  height: auto;
  display: block;
  opacity: 0.5; /* Ajusta este valor para cambiar la opacidad */
  filter: blur(2px); /* Ajusta el valor para cambiar la cantidad de desenfoque */
  margin: 0 auto; /* Esto centra la imagen */
}
.dia-text {
  margin-top: 10px;
  font-weight: bold; /* Puedes cambiar el grosor de la fuente si lo deseas */
}

.fecha-text {
  font-size: 0.7em; /* Ajusta el tamaño de la fecha como desees */
  color: gray; /* Cambia el color si lo deseas */
  margin-bottom: 10px;
}

.no-hay-text{
  padding: 10px;
}

.vencido {
  background-color: #ff4d4d !important; /* Rojo */
  color: white;
}

.porvencer1 {
  background-color: #ff9800 !important; /* Naranja */
  color: white;
}

.porvencer2 {
  background-color: #ffeb3b !important; /* Amarillo */
  color: black;
}

.seguro {
  background-color: #4caf50 !important; /* Verde */
  color: white;
}

.null {
  background-color: #e0e0e0 !important; /* Gris */
  color: black;
}
.color-legend {
  display: flex;
  gap: 20px;               /* Espacio entre cada item */
  margin: 20px auto;       /* Centrado horizontal y margen superior */
  padding: 15px;           /* Espaciado interno */
  align-items: center;
  justify-content: center; /* Centrar los elementos dentro del contenedor */
  border: 1px solid #ccc;  /* Borde alrededor de la leyenda */
  border-radius: 8px;      /* Bordes redondeados */
  background-color: #f9f9f9; /* Fondo claro */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 4px;
}

/* Colores correspondientes */
.color-box.vencido {
  background-color: #ff4d4d; /* Rojo */
}

.color-box.porvencer1 {
  background-color: #ff9800; /* Naranja */
}

.color-box.porvencer2 {
  background-color: #ffeb3b; /* Amarillo */
}

.color-box.seguro {
  background-color: #4caf50; /* Verde */
}

.color-box.null {
  background-color: #e0e0e0; /* Gris */
}
