<div class="row">
  <div class="contenido col">

    <!-- Sección de información de la semana -->
    <div class="semana-info-container">
      <div class="semana-text">Semana 14-20 de septiembre</div>
      <button class="boton" (click)="cambiarSemana()">Cambiar Semana</button>
    </div>

    <!-- Espacio entre la información de la semana y los productos -->
    <hr class="divider" />

    <div class="dias-semana-container">
      <!-- Lunes a Viernes -->
      <div class="dia" id="lunes" (dragover)="allowDrop($event)" (drop)="drop($event, 'lunes')">
        lunes
        <div *ngFor="let tanda of tandasPorDia['lunes']" class="tanda-container">
          
          <button class="quitar-btn" (click)="quitarDeDia(tanda, 'lunes')">×</button>
          <span class="tanda-en-dia">{{ tanda.producto }}</span> - {{ tanda.cantidadActual }} disponibles
          
        </div>
      </div>
      <div class="dia" id="martes" (dragover)="allowDrop($event)" (drop)="drop($event, 'martes')">
        martes
        <div *ngFor="let tanda of tandasPorDia['martes']" class="tanda-container">
          <button class="quitar-btn" (click)="quitarDeDia(tanda, 'martes')">×</button>
          <span class="tanda-en-dia">{{ tanda.producto }}</span> - {{ tanda.cantidadActual }} disponibles
          
        </div>
      </div>
      <div class="dia" id="miercoles" (dragover)="allowDrop($event)" (drop)="drop($event, 'miercoles')">
        miercoles
        <div *ngFor="let tanda of tandasPorDia['miercoles']" class="tanda-container">
          <button class="quitar-btn" (click)="quitarDeDia(tanda, 'miercoles')">×</button>
          <span class="tanda-en-dia">{{ tanda.producto }}</span> - {{ tanda.cantidadActual }} disponibles
          
        </div>
      </div>
      <div class="dia" id="jueves" (dragover)="allowDrop($event)" (drop)="drop($event, 'jueves')">
        jueves
        <div *ngFor="let tanda of tandasPorDia['jueves']" class="tanda-container">
          <button class="quitar-btn" (click)="quitarDeDia(tanda, 'jueves')">×</button>
          <span class="tanda-en-dia">{{ tanda.producto }}</span> - {{ tanda.cantidadActual }} disponibles
          
        </div>
      </div>
      <div class="dia" id="viernes" (dragover)="allowDrop($event)" (drop)="drop($event, 'viernes')">
        viernes
        <div *ngFor="let tanda of tandasPorDia['viernes']" class="tanda-container">
          <button class="quitar-btn" (click)="quitarDeDia(tanda, 'viernes')">×</button>
          <span class="tanda-en-dia">{{ tanda.producto }}</span> - {{ tanda.cantidadActual }} disponibles
          
        </div>
      </div>
    </div>
    
    
    
    
    <!-- Contenedor de productos (listado filtrable) -->
    <div class="productos-container">
      <div class="buscador-container">
        <input type="text" [(ngModel)]="searchTerm" (input)="filtrarTandas()" placeholder="Buscar..." class="buscador-input" />
      </div>
      <div class="tandas-container-scroll" id="productos" (dragover)="allowDrop($event)" (drop)="dropToMainList($event)">
        <div class="tanda" *ngFor="let tanda of tandasFiltradas" [attr.id]="tanda.id" draggable="true" (dragstart)="drag($event)">
          {{ tanda.producto }} - {{ tanda.cantidadActual }} disponibles
        </div>
        <div class="no-coincidencias" *ngIf="tandasFiltradas.length === 0">
          No hay coincidencias.
        </div>
      </div>
      
      
    </div>
    
<div class="boton">
  botón de aceptar
</div>

  
<div class="row">
      <div class="col-3">
          <div class="contenido">
  
            Manera de planificar futuramente (seguramente con algun calendario)
          
          </div>
      </div>
      <div class="col-4">
          <div class="contenido" id="lateral">
  
            Despliegue de alguna información de planificación, como ubicaciones.
          
          </div>
      </div>
      <div class="col-5">
        <div class="contenido" id="lateral">
            productos que se planifican enviar
        </div>
    </div>
</div>
  