.layout {
  background-color: #2573c0;
  display: flex;
  height: 100vh;
  position: relative;
  &.collapsed {
    .content {
      flex: 1; // Ocupa todo el espacio disponible
      margin-left: 0; // No hay margen cuando el sidebar está colapsado
    }

    
  }
}

.content {
  flex: 1;
  background: linear-gradient(to right, rgba(77, 180, 172, 1) 0%, rgba(25, 118, 210, 1) 100%);
  padding: 20px;
  transition: margin-left 0.3s ease;
  overflow: auto;
  
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column; // Cambiar a columna en pantallas pequeñas
  }

  .content {
    margin-left: 0; // Sin margen en pantallas pequeñas
  }

  app-sidebar {
    width: 100%; // Sidebar ocupa todo el ancho en pantallas pequeñas
  }
}