<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <h3>Iniciar Sesión</h3>
      
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div class="login-form">
      <!-- Campo de Email -->
    <div class="p-field">
      <p-floatLabel>
        <input type="email" pInputText id="email" [(ngModel)]="email" class="custom-input"/>
        <label for="email">Email</label>
      </p-floatLabel>
    </div>

    <!-- Campo de Contraseña -->
    <div class="p-field relative"> <!-- Añadir 'relative' para posicionar el icono -->
      <p-floatLabel>
        <input 
          [type]="showPassword ? 'text' : 'password'" 
          pInputText 
          id="password" 
          [(ngModel)]="password" 
          class="custom-input"
        />
        <label for="password">Contraseña</label>
        <button 
          type="button" 
          (click)="togglePasswordVisibility()" 
          class="toggle-password"
          aria-label="Toggle password visibility"
        >
          <i class="pi" [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"></i>
        </button>
      </p-floatLabel>
    </div>
    
    


    <!-- Botón de Iniciar Sesión -->
      <div class="button-container">
        <button 
          (click)="login()" 
          class="custom-button w-full"
          type="button"
        >
          <i class="pi pi-sign-in"></i> Ingresar
        </button>
      </div>



      <div class="divider">
        <span class="divider-line"></span>
      </div>

      <!-- Botones de Redes Sociales -->
      <div class="social-buttons">
        <p>
          Si no tienes cuenta, contacta a un administrador
        </p>
      </div>
    </div>
  </div>
</div>
