/* Contenedor principal */
.main-wrapper {
  display: flex;
  height: 100%;
}

/* Contenedor vacío con imagen */
.empty-space {
  flex: 0.8; /* Ajusta el ancho del espacio vacío */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen de bienvenida */
.welcome-image {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

/* Animación de respiración */
.breathing-animation {
  animation: breathing 3s ease-in-out infinite; /* Duración de 3 segundos, animación continua */
}

@keyframes breathing {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.05); /* Expansión al 105% */
  }
  100% {
    transform: scale(1); /* Vuelve al tamaño original */
  }
}


/* Contenedor de login */
.login-container {
  flex: 0.6; /* Ajusta el ancho del formulario de login */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Tarjeta de login */
.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Inputs personalizados */
.custom-input {
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: #f0f8ff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  color: #333;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Icono de contraseña */
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #120087;
  font-size: 1rem;
}

/* Encabezado de login */
.login-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #333;
}

/* Mensaje de error */
.error-message {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
}

/* Formulario de login */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Botón de login */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.custom-button {
  background-color: #1950b8;
  color: white;
  border: none;
  border-radius: 1.5rem;
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button:hover {
  background-color: rgb(12, 0, 106);
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
}

.divider-line {
  height: 1px;
  background-color: #ccc;
  flex-grow: 1;
}

.divider-text {
  margin: 0 1rem;
  color: #666;
}

/* Mensaje de redes sociales */
.social-buttons p {
  color: #666;
  font-size: 0.9rem;
}
