<div class="side-bar" [class.collapsed]="collapsed">
  <div><i class="bi bi-list" (click)="toggleSidebar()"></i></div>
  <div class="logo" style="text-align: center;"><img src="https://cdn.discordapp.com/attachments/1246240210329538671/1247923122209030205/file-0XN0OfIXisMOJQ7KWJpndgsd-removebg-preview.png?ex=66d32b79&is=66d1d9f9&hm=53f97978ccc2bbc46f12570583bd3b705e79051e4aa92e73d2218c4c9587cc4c&" alt="Stock Now Logo">
  </div>
  <div class="categorias" [class.active]="isActive('home')" (click)="setActiveCategory('home')">
    <i class="bi bi-house" ></i>
    <span *ngIf="!collapsed" style="margin-left: 5px;">HOME</span>
  </div>
  <div class="categorias" [class.active]="isActive('perfil')" (click)="setActiveCategory('perfil')">
    <i class="bi bi-person"></i>
    <span *ngIf="!collapsed" style="margin-left: 5px;">PERFIL</span>
  </div>
  <div class="categorias" [class.active]="isActive('gestión de usuarios')" (click)="setActiveCategory('gestión de usuarios')">
    <i class="bi bi-people"></i>
    <span *ngIf="!collapsed" style="margin-left: 5px;">GESTIÓN DE USUARIOS</span>
  </div>
  <div class="categorias" [class.active]="isActive('bodegas')" (click)="setActiveCategory('bodegas')">
    <i class="bi bi-houses"></i>
    <span *ngIf="!collapsed" style="margin-left: 5px;">BODEGAS</span>
  </div>
  <div class="categorias" [class.active]="isActive('inventario')" (click)="setActiveCategory('inventario')">
    <i class="bi bi-inboxes"></i>
    <span *ngIf="!collapsed" style="margin-left: 5px;">INVENTARIO</span>
  </div>
  <div class="categorias" [class.active]="isActive('planificación')" (click)="setActiveCategory('planificación')">
    <i class="bi bi-card-checklist"></i>
    <span *ngIf="!collapsed" style="margin-left: 5px;">PLANIFICACIÓN</span>
  </div>
  <div class="logout" (click)="logout()">
    <i class="bi bi-box-arrow-left" ></i>
    <span *ngIf="!collapsed" style="margin-left: 5px;  font-size: 10px;">Cerrar sesión</span>
  </div>
</div>
