<div class="side-bar" [class.collapsed]="collapsed">
  <div><i class="bi bi-list" (click)="toggleSidebar()"></i></div>
  <div class="logo" style="text-align: center;"><img src="./assets/img/stock.png" alt="Stock Now Logo">

  </div>
  <div class="categorias" [class.active]="isActive('home')" (click)="setActiveCategory('home')">
    <i class="bi bi-house" ></i>
    <span *ngIf="!collapsed" style="margin-left: 5px;">HOME</span>
  </div>
  <div class="categorias" [class.active]="isActive('perfil')" (click)="setActiveCategory('perfil')">
    <i class="bi bi-person"></i>
    <span *ngIf="!collapsed" style="margin-left: 5px;">PERFIL</span>
  </div>
  <div class="categorias" [class.active]="isActive('gestión de usuarios')" (click)="setActiveCategory('gestión de usuarios')">
    <i class="bi bi-people"></i>
    <span *ngIf="!collapsed" style="margin-left: 5px;">GESTIÓN DE USUARIOS</span>
  </div>
  <div class="categorias" [class.active]="isActive('bodegas')" (click)="setActiveCategory('bodegas')">
    <i class="bi bi-houses"></i>
    <span *ngIf="!collapsed" style="margin-left: 5px;">BODEGAS</span>
  </div>
  <div class="categorias" [class.active]="isActive('inventario')" (click)="setActiveCategory('inventario')">
    <i class="bi bi-inboxes"></i>
    <span *ngIf="!collapsed" style="margin-left: 5px;">INVENTARIO</span>
  </div>
  <div class="categorias" [class.active]="isActive('planificación')" (click)="setActiveCategory('planificación')">
    <i class="bi bi-card-checklist"></i>
    <span *ngIf="!collapsed" style="margin-left: 5px;">PLANIFICACIÓN</span>
  </div>
  <div class="logout" (click)="logout()">
    <i class="bi bi-box-arrow-left" ></i>
    <span *ngIf="!collapsed" style="margin-left: 5px; font-size: 10px;">Cerrar sesión</span>
  </div>
</div>
