
<div class="row">
    <div class="contenido col">
        DESPLIEGUE DE LISTA DE BODEGAS
    </div>
    
</div>
  
  
<div class="row">
      <div class="col-3">
          <div class="contenido">
  
            Listado de ubicaciones dentro de la bodega
          
          </div>
      </div>
      <div class="col-7">
          <div class="contenido" id="lateral">
  
            Datos de productos dentro de la bodega
          
          </div>
      </div>
      <div class="col-2">
        <div class="contenido" id="lateral">

          Categorias que existen en la bodega
        
        </div>
    </div>
</div>
  