@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    margin: 0;
}

.contenido { 
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

@layer reset {
    button:focus {
      box-shadow: none;
    }
}

tbody, tfoot, th, thead, tr {
    background-color: #0077B6;
    text-align: center;
    border-width: 1px;
}

.custom-table {
    border-spacing: 0 10px; /* Ajustar el espaciado entre las celdas */
}

td {
    padding: 15px; /* Aumentar el padding para más espacio dentro de las celdas */
    text-align: center;
    background-color: #CAF0F8;
}

.expanded-row {
    border: 2px solid #2c2857;
}

.expanded-content p-table td {
    background-color: #ffffff;
}

.expanded-content p-table tr {
    border: none;
}

.expanded-body {
    background-color: #f2fdff;
}

.highlight-number {
    font-weight: bold;
    color: #080808; /* Color destacado para el número */
    font-size: 1em; /* Tamaño de fuente más grande */
    margin-right: 0.5em; /* Espacio entre el número y el texto */
}
th{
    color:white;
}

.botones-expandir{
    color:#000000;
}