// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Coloca las reglas @use al principio
@use '@angular/material' as mat;

// Importa los estilos de PrimeNG y Bootstrap después de las reglas @use
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

// Incluye los estilos comunes para Angular Material
@include mat.core();

// Define las paletas para tu tema
$frontend_web_muni-primary: mat.define-palette(mat.$indigo-palette);
$frontend_web_muni-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$frontend_web_muni-warn: mat.define-palette(mat.$red-palette);

// Crea el objeto del tema
$frontend_web_muni-theme: mat.define-light-theme((
  color: (
    primary: $frontend_web_muni-primary,
    accent: $frontend_web_muni-accent,
    warn: $frontend_web_muni-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Incluye los estilos de todos los componentes de Angular Material usando el tema personalizado
@include mat.all-component-themes($frontend_web_muni-theme);

// Estilos personalizados para tu aplicación
body {
    margin: 0;
}

.contenido { 
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #cecece; 
}

@layer reset {
    button:focus {
      box-shadow: none;
    }
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}



/* Cambiar el color del encabezado del acordeón */
.p-accordion .p-accordion-header {
  color: #000000; /* Cambia el color del texto */
  border: none; /* Quita el borde si lo prefieres */
}

/* Cambiar el color del texto del encabezado al pasar el ratón */
.p-accordion .p-accordion-header a {
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec); /* Degradado de gris claro a un tono azul grisáceo */
  color: #000000; /* Cambia el color al color deseado */
  text-decoration: none;

}

.p-accordion .p-accordion-header a:hover {
  background: linear-gradient(135deg, #d9e2ec, #c8d0da); /* Degradado de gris claro a un tono azul grisáceo */
  color: #00416c; /* Cambia esto al color que prefieras cuando se hace hover */
}

/* Cambiar el color de fondo del contenido del acordeón */
.p-accordion .p-accordion-content {
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec); /* Degradado de gris claro a un tono azul grisáceo */
  color: #333333; /* Color del texto */
  padding: 16px; /* Espaciado interno para un aspecto más aireado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para resaltar la sección */
}
