<div class="table-container">
  <!-- Carga inicial con spinner y mensaje -->
  <div *ngIf="isLoading" class="loading-container">
    <p-progressSpinner></p-progressSpinner>
    <p> Cargando datos... Por favor, espere. </p>
  </div>

  <!-- Mensaje de error cuando no hay respuesta del servicio -->
  <div *ngIf="hasError" class="error-container">
    <h3>Error de Carga</h3><br>
    <h6>El servicio no está disponible en este momento. Intente más tarde.</h6>
  </div>

  <!-- Tabla de datos cuando se ha completado la carga sin errores -->
  <div *ngIf="!isLoading && !hasError">
    <p-table 
      [value]="productos2" 
      [tableStyle]="{ 'min-width': '70rem' }" 
      dataKey="id" 
      [resizableColumns]="true" 
      [expandedRowKeys]="expandedRows" 
      [paginator]="true" 
      [rows]="10"
      styleClass="custom-table p-datatable-gridlines">
      
      <!-- Encabezado de la tabla -->
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn class="th">Nombre del Producto</th>
          <th pResizableColumn class="th">Cantidad Total</th>
          <th pResizableColumn class="th">Productos por Vencer</th>
          <th pResizableColumn class="th">Acciones</th>
        </tr>
      </ng-template>

      <!-- Cuerpo de la tabla con efecto de carga en las celdas -->
      <ng-template pTemplate="body" let-producto>
        <tr class="tr">
          <td class="td" [ngClass]="{'loading-placeholder': isLoading, 'table-cell': !isLoading}">
            {{ isLoading ? '' : producto.nombre }}
          </td>
          <td class="td highlight-number" [ngClass]="{'loading-placeholder': isLoading, 'table-cell': !isLoading}">
            {{ isLoading ? '' : producto.stock }}
          </td>
          <td class="td highlight-number" [ngClass]="{'loading-placeholder': isLoading, 'table-cell': !isLoading}">
            {{ isLoading ? '' : calcularCantidadPorVencer(producto) }}
          </td>
          <td class="td" [ngClass]="{'loading-placeholder': isLoading, 'table-cell': !isLoading}">
            <button *ngIf="!isLoading" pButton label="Expandir" class="botones-expandir" icon="pi pi-plus" (click)="expandedRows[producto.id] = !expandedRows[producto.id]"></button>
          </td>
        </tr>

        <!-- Fila expandida que muestra detalles de las tandas (sin efecto de carga) -->
        <tr *ngIf="expandedRows[producto.id]" class="expanded-row">
          <td colspan="5" class="expanded-body">
            <div class="expanded-content">
              <p-table [value]="producto.tandas" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="th">Producto</th>
                    <th class="th">Cantidad Actual</th>
                    <th class="th">Fecha de Vencimiento</th>
                    <th class="th">Fecha de Ingreso</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tanda>
                  <tr>
                    <td class="td">{{ tanda.producto }}</td>
                    <td class="td">{{ tanda.cantidadActual }}</td>
                    <td class="td">{{ tanda.fechaVencimiento | date: 'yyyy-MM-dd' }}</td>
                    <td class="td">{{ tanda.fechaLlegada | date: 'yyyy-MM-dd' }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>

      <!-- Pie de la tabla -->
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="5">
            Total Productos: {{ productos2.length }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
