<div class="alertas-container">
  <div class="contador alerta-vencido" (click)="filtrarPorEstado('vencido')">
    Vencidos: {{ contadorVencidos }}
  </div>
  <div class="contador alerta-por-vencer-1" (click)="filtrarPorEstado('porVencerEtapa1')">
    Por vencer (1-2 días): {{ contadorPorVencerEtapa1 }}
  </div>
  <div class="contador alerta-por-vencer-2" (click)="filtrarPorEstado('porVencerEtapa2')">
    Por vencer (3-7 días): {{ contadorPorVencerEtapa2 }}
  </div>
  <div class="contador alerta-seguro" (click)="filtrarPorEstado('seguro')">
    Seguros: {{ contadorSeguro }}
  </div>
  <button (click)="mostrarTodos()" [ngClass]="{'boton-transparente': !estadoFiltroActual}" class="boton-mostrar-todos">
    Mostrar Todos
  </button>
  


</div>


<div class="table-container">
  <div class="header-container">
    <h2 class="section-title">
      Estado del Inventario de Productos 
      <span *ngIf="estadoFiltroActual">- {{ obtenerTituloFiltro(estadoFiltroActual) }}</span>
    </h2>
    <div class="search-container">
      <span class="search-icon">
        <i class="bi bi-search"></i> <!-- Icono de búsqueda de Bootstrap -->
      </span>
      <input 
        type="text" 
        placeholder="Buscar productos o tandas..." 
        [(ngModel)]="terminoBusqueda" 
        (input)="filtrarProductos()"
        class="search-input"
      />
    </div>
  </div>
  
  

  
  <!-- Carga inicial con spinner y mensaje -->
  <div *ngIf="isLoading" class="loading-container">
    <p> Cargando datos... Por favor, espere. </p>
  </div>

  <!-- Mensaje de error cuando no hay respuesta del servicio -->
  <div *ngIf="hasError" class="error-container">
    <h3>Error de Carga</h3>
    <img src="assets/img/no-producto.jpeg" alt="No hay productos" class="no-productos-image" />
    <h6>El servicio no está disponible en este momento. Intente más tarde.</h6>
  </div>

  <!-- Tabla de datos cuando se ha completado la carga sin errores -->
  <div *ngIf="!isLoading && !hasError">
    <table class="custom-table">
      <thead>
        <tr>
          <th>Nombre del Producto</th>
          <th>Cantidad Total</th>
          <th>Productos por Vencer</th>
          <th>Fecha de Vencimiento Próxima</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="productosPaginados.length > 0; else noProductos">
          <ng-container *ngFor="let producto of productosPaginados">
            <tr>
              <td>
                <div style="display: flex; flex-direction: column; align-items: center;">
                  <img [src]="producto.urlImagen" alt="Imagen de {{ producto.nombre }}" width="50" height="50" style="margin-bottom: 5px; border-radius: 5px;">
                  <span>{{ producto.nombre }}</span>
                </div>
              </td>
              <td>{{ calcularCantidadTotal(producto) }}</td>
              <td>{{ calcularCantidadPorVencer(producto) }}</td>
              <td>{{ calcularFechaProxima(producto) }}</td>
              <td class="actions-cell">
                <button class="boton-expandir" (click)="toggleExpansion(producto.id)">
                  {{ expandedRows[producto.id] ? 'Minimizar' : 'Expandir' }}
                </button>
                <button type="button" class="btn btn-transparent-border btn-sm" (click)="abrirDialogoEditarProducto(producto)">
                  <i class="bi bi-pencil"></i>
                </button>
              </td>
              
            </tr>
            <tr *ngIf="expandedRows[producto.id]" class="expanded-row">
              <td colspan="5">
                <table class="expanded-content">
                  <thead>
                    <tr>
                      <th>Cantidad Actual</th>
                      <th>Fecha de Vencimiento</th>
                      <th>Fecha de Ingreso</th>
                      <th>Ubicación</th>
                      <th>Bodega</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tanda of producto.tandas?.slice(0, 10)" [ngClass]="calcularEstadoVencimiento(tanda)">
                      <td>{{ tanda.cantidadActual }}</td>
                      <td>{{ tanda.fechaVencimiento | date:'dd-MM-yyyy' }}</td>
                      <td>{{ tanda.fechaLlegada | date:'dd-MM-yyyy' }}</td>
                      <td>{{ tanda.ubicacion }}</td>
                      <td>{{ tanda.bodega }}</td>
                      <td>
                        <button type="button" class="btn btn-transparent-border btn-sm" (click)="editarTanda(tanda)">
                          <i class="bi bi-pencil"></i> 
                        </button>
                        <button type="button" class="btn btn-transparent-border btn-sm" (click)="confirmarEliminarTanda(tanda)">
                          <i class="bi bi-trash"></i>
                        </button>
                        
                      </td>
                      
                      
                      
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <ng-container *ngIf="estadoFiltroActual || terminoBusqueda; else mostrarTotalesGenerales">
              Total Productos Filtrados: {{ productosFiltrados.length }}, Total Tandas Filtradas: {{ getTotalTandasFiltradas() }}
            </ng-container>
            <ng-template #mostrarTotalesGenerales>
              Total Productos: {{ productos.length }}, Total Tandas: {{ getTotalTandas() }}
            </ng-template>
          </td>
        </tr>
      </tfoot>
      
    </table>
  
    <!-- Mensaje cuando no hay productos para el filtrado -->
    <ng-template #noProductos>
      <tr>
        <td colspan="5" class="text-center no-products-message" style="min-width: 500px; padding: 100px 0;">
          No hay productos para el filtrado seleccionado.
        </td>
        
        
      </tr>
    </ng-template>
  
    <!-- Componente de paginación -->
    <p-paginator 
      [rows]="productosPorPagina" 
      [totalRecords]="productos.length" 
      (onPageChange)="cambiarPagina($event)">
    </p-paginator>
  </div>
  

  <div *ngIf="!hasError" class="export-button-container my-3 d-flex justify-content-center gap-3">
    <!-- Botón para exportar a Excel -->
    <button type="button" class="btn btn-success d-flex align-items-center gap-2" (click)="mostrarDialogo2 = true">
      <i class="bi bi-file-earmark-excel"></i> Exportar Inventario a Excel
    </button>
  
    <!-- Botón para agregar un nuevo producto -->
    <button type="button" class="btn btn-primary d-flex align-items-center gap-2" (click)="mostrarDialogo = true">
      <i class="bi bi-plus-circle"></i> Agregar Producto Nuevo
    </button>
  
    <!-- Botón para añadir una nueva tanda -->
    <button type="button" class="btn btn-secondary d-flex align-items-center gap-2" (click)="abrirDialogoTanda()">
      <i class="bi bi-plus-circle"></i> Añadir Tanda
    </button>
  </div>
  






  <p-dialog [(visible)]="mostrarDialogo" [modal]="true" [draggable]="false" header="Añadir Producto" class="text-center">
    <div class="container-fluid">
      <!-- Icono de encabezado -->
      <div class="mb-3">
        <i class="bi bi-box-seam display-4 text-primary"></i>
      </div>
      
      <div class="row mb-3">
        <div class="col-12">
          <label for="nombre" class="form-label fw-bold">Nombre del Producto</label>
          <input id="nombre" type="text" class="form-control" [(ngModel)]="nuevoProducto.nombre" placeholder="Ingrese el nombre del producto" />
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-12">
          <label for="descripcion" class="form-label fw-bold">Descripción</label>
          <textarea id="descripcion" rows="3" class="form-control" [(ngModel)]="nuevoProducto.descripcion" placeholder="Ingrese una breve descripción"></textarea>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-12">
          <label for="urlImagen" class="form-label fw-bold">Imagen del Producto</label>
          <input type="file" class="form-control" id="urlImagen" (change)="onFileSelected($event)" />
        </div>
      </div>
    </div>
  
    <!-- Pie de diálogo con botones alineados -->
    <p-footer class="d-flex justify-content-center gap-3 mt-4">
      <button type="button" class="btn btn-success d-flex align-items-center gap-2" (click)="addProduct()">
        <i class="bi bi-check-circle"></i> Añadir
      </button>
      <button type="button" class="btn btn-secondary d-flex align-items-center gap-2" (click)="mostrarDialogo = false">
        <i class="bi bi-x-circle"></i> Cancelar
      </button>
    </p-footer>
  </p-dialog>
  





  
  <p-dialog [(visible)]="mostrarDialogo2" [draggable]="false" modal="true" header="Confirmación de Exportación">
    <p>¿Estás seguro de que deseas exportar el inventario a Excel?</p>
    <div class="dialog-footer">
      <button (click)="onConfirm()" class="confirm-button">Confirmar</button>
      <button (click)="onCancel()" class="cancel-button">Cancelar</button>
    </div>
  </p-dialog>




  <p-dialog [(visible)]="mostrarDialogo3" [modal]="true" [draggable]="false" header="{{ esEdicion ? 'Editar Tanda' : 'Añadir Tanda' }}" styleClass="custom-dialog" [style]="{ width: '500px', maxWidth: '90vw' }">
    <div class="container-fluid">
      <div class="mb-3 text-center">
        <i class="bi bi-clipboard-data display-4 text-primary"></i>
      </div>
  
      <!-- Campo cantidadIngresada solo cuando es añadir tanda -->
      <div *ngIf="!esEdicion" class="row mb-3">
        <div class="col-12">
          <label for="cantidadIngresada" class="form-label fw-bold">Cantidad Ingresada</label>
          <input id="cantidadIngresada" type="number" class="form-control" [(ngModel)]="nuevaTanda.cantidadIngresada" 
                 min="0" (input)="validarCantidadIngresada()" />
          <div *ngIf="errores.cantidadIngresada" class="text-danger small">{{ errores.cantidadIngresada }}</div>
        </div>
      </div>
      
  
      <div class="row mb-3">
        <div class="col-12">
          <label for="fechaVencimiento" class="form-label fw-bold">Fecha de Vencimiento</label>
          <input id="fechaVencimiento" type="date" class="form-control" [(ngModel)]="nuevaTanda.fechaVencimiento" />
          <div *ngIf="errores.fechaVencimiento" class="text-danger small">{{ errores.fechaVencimiento }}</div>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-12">
          <label for="productoId" class="form-label fw-bold">Producto</label>
          <select id="productoId" class="form-control" [(ngModel)]="nuevaTanda.productoId">
            <option *ngFor="let producto of productoOpciones" [value]="producto.id">{{ producto.nombre }}</option>
          </select>
          <div *ngIf="errores.productoId" class="text-danger small">{{ errores.productoId }}</div>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-12">
          <label for="bodega" class="form-label fw-bold">Bodega</label>
          <!-- Selección del nombre de la bodega, pero se almacena el id en nuevaTanda.bodega -->
          <select id="bodega" class="form-control" [(ngModel)]="nuevaTanda.bodega" (change)="onBodegaChange($event)">
            <option *ngFor="let bodega of bodegaOpciones" [value]="bodega.nombre">{{ bodega.nombre }}</option>
          </select>
          <div *ngIf="errores.bodega" class="text-danger small">{{ errores.bodega }}</div>
        </div>
      </div>
      
      
      
      <div class="row mb-3">
        <div class="col-12">
          <label for="ubicacion" class="form-label fw-bold">Ubicación</label>
          <select id="ubicacion" class="form-control" [(ngModel)]="nuevaTanda.ubicacion">
            <option *ngFor="let ubicacion of ubicacionListado" [value]="ubicacion.id">{{ ubicacion.descripcion }}</option>
          </select>
          <div *ngIf="errores.ubicacion" class="text-danger small">{{ errores.ubicacion }}</div>
        </div>
      </div>
      
      

    </div>
  
    <p-footer class="d-flex justify-content-center gap-3 mt-4">
      <button type="button" class="btn btn-success d-flex align-items-center gap-2" (click)="esEdicion ? guardarCambiosTanda() : addTanda()">
        <i class="bi bi-check-circle"></i> {{ dialogLabel }}
      </button>
      <button type="button" class="btn btn-cancel-blue d-flex align-items-center gap-2" (click)="cerrarDialogoTanda()">
        <i class="bi bi-x-circle"></i> Cancelar
      </button>
    </p-footer>
  </p-dialog>
  
  
  <p-dialog [(visible)]="mostrarDialogoConfirmacionEliminar" 
          [modal]="true" 
          [draggable]="false" 
          header="Confirmar Eliminación" 
          styleClass="custom-dialog" 
          [style]="{ width: '400px', maxWidth: '90vw' }">
  
  <div class="container text-center">
    <p>¿Estás seguro de que deseas eliminar la tanda con ID: {{ tandaSeleccionada }}?</p>
  </div>

  <p-footer class="d-flex justify-content-center gap-3 mt-4">
    <!--<button type="button" class="btn btn-danger" (click)="eliminarTanda()">
      <i class="bi bi-trash"></i> Eliminar
    </button>-->
    <button type="button" class="btn btn-secondary" (click)="cerrarDialogoConfirmacionEliminar()">
      <i class="bi bi-x-circle"></i> Cancelar
    </button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="mostrarDialogoEditarProducto" [modal]="true" [draggable]="false" header="Editar Producto" class="text-center">
  <div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn btn-danger d-flex align-items-center gap-2" (click)="eliminarProducto()">
      <i class="bi bi-trash"></i> Eliminar Producto
    </button>
  </div>
  <div class="container-fluid">
    <div class="mb-3">
      <i class="bi bi-box-seam display-4 text-primary"></i>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <label for="nombreProducto" class="form-label fw-bold">Nombre del Producto</label>
        <input id="nombreProducto" type="text" class="form-control" [(ngModel)]="productoEditable.nombre" placeholder="Ingrese el nombre del producto" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <label for="descripcionProducto" class="form-label fw-bold">Descripción</label>
        <textarea id="descripcionProducto" rows="3" class="form-control" [(ngModel)]="productoEditable.descripcion" placeholder="Ingrese una breve descripción"></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <label for="urlImagenProducto" class="form-label fw-bold">Imagen del Producto</label>
        <!-- Muestra la imagen actual usando la URL existente -->
        <div class="mb-2">
          <img *ngIf="productoEditable.urlImagen" [src]="productoEditable.urlImagen" alt="Imagen actual del producto" class="img-fluid" style="max-width: 200px;" />
        </div>
        <!-- Opción para cargar una nueva imagen -->
        <input type="file" class="form-control" id="urlImagenProducto" (change)="onFileSelected($event)" />
      </div>
    </div>
    
    
  </div>

  <p-footer class="d-flex justify-content-center gap-3 mt-4">
    <button type="button" class="btn btn-success d-flex align-items-center gap-2" (click)="guardarCambiosProducto()">
      <i class="bi bi-check-circle"></i> Guardar
    </button>
    <button type="button" class="btn btn-primary d-flex align-items-center gap-2" (click)="cerrarDialogoEditarProducto()">
      <i class="bi bi-x-circle"></i> Cancelar
    </button>

    
  </p-footer>
</p-dialog>


<p-dialog [(visible)]="mostrarDialogoConfirmacion" [modal]="true" [draggable]="false" header="Confirmar Eliminación" class="text-center">
  <p>¿Estás seguro de que deseas eliminar el producto "{{ productoEditable.nombre }}"?</p>
  
  <p-footer class="d-flex justify-content-center gap-3 mt-4">
    <button type="button" class="btn btn-danger" (click)="confirmarEliminacion()">
      Sí, eliminar
    </button>
    <button type="button" class="btn btn-primary" (click)="mostrarDialogoConfirmacion = false">
      Cancelar
    </button>
  </p-footer>
</p-dialog>




</div>
