<div *ngIf="envioData">
  <div class="header-container">
    <button type="button" (click)="volver()" class="btn-volver bi bi-arrow-left">Volver</button>
    <h2>Detalle del Envío</h2>
  </div>
  <div class="envio-grid">
    <!-- Movimientos -->
    <aside class="movimientos-section">
      <div class="section-header">Movimientos</div>
      <div class="movimientos-content">
        <p-accordion *ngIf="envioData.movimientos && envioData.movimientos.length > 0; else noMovimientos">
          <p-accordionTab *ngFor="let movimiento of envioData.movimientos" [header]="movimiento.producto">
            <div class="movimiento-details">
              <p class="movimiento-user">
                <i class="bi bi-person-fill"></i> Realizado por: {{ movimiento.user }} 
              </p>
              <div class="movimiento-info">
                <p><strong>Producto:</strong> {{ movimiento.producto }}</p>
                <p><strong>Cantidad Retirada:</strong> {{ movimiento.cantidadRetirada }}</p>
                <p><strong>Fecha:</strong> {{ movimiento.fecha | date: 'dd/MM/yyyy' }}</p>
                <p><strong>Hora:</strong> {{formatTime(movimiento.hora)}}</p>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
        <ng-template #noMovimientos>
          <p class="no-data-message">No hay movimientos registrados.</p>
        </ng-template>
      </div>
    </aside>
    

    <!-- Detalle del Envío -->
    <main class="detalle-section">
      
      <div class="section-header">Detalle del Envío</div>
      
      <div class="detalle-envio-content" *ngIf="envioData">
        <p>
          <strong>Status:</strong>
          <span class="status-text" 
                [ngClass]="{
                  'status-sin-cargar': envioData.status === 'Sin cargar',
                  'status-cargando': envioData.status === 'Cargando',
                  'status-completa': envioData.status === 'Carga completa',
                  'status-en-envio': envioData.status === 'En envio',
                  'status-pendiente': envioData.status === 'Pendiente',
                  'status-finalizado': envioData.status === 'Finalizado'
                }">
            {{ envioData.status || 'Sin estado' }}
          </span>
        </p>
        <p><strong>Fecha:</strong> {{ envioData.fecha | date: 'dd/MM/yyyy' }}</p>
        
        <p><strong>Hora de Creación:</strong> {{ formatFechaCompleta(envioData.horaCreacion) }}</p>
        <p><strong>Última Actualización:</strong> {{ formatFechaCompleta(envioData.ultimaActualizacion) }}</p>
        <p><strong>Tiempo en Envío:</strong> {{ getTiempoEnEnvio(envioData.horaInicioEnvio) }}</p>

        <p><strong>Hora de Finalización:</strong> {{ formatFechaCompleta(envioData.horaFinalizacion) || 'Pendiente' }}</p>
      
       
      
        <p *ngIf="envioData.autorizante">
          <strong>Autorizante:</strong> {{ envioData.autorizante }}
        </p>
      
        <p *ngIf="envioData.solicitante">
          <strong>Solicitante:</strong> {{ envioData.solicitante }}
        </p>
      </div>
      
      

      <!-- Comparación de carga inicial vs carga actual -->
      <div class="carga-comparacion" *ngIf="envioData?.cargaInicial && envioData?.cargaActual">
        <h3 class="section-header">Comparación de Carga</h3>
        <table class="comparison-table">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cantidad Inicial</th>
              <th>Cantidad Actual</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of getDiferenciaProductos()">
              <td>
                <img *ngIf="producto.urlImagen" [src]="producto.urlImagen" alt="{{ producto.producto }}" class="producto-img" />
                {{ producto.producto }}
              </td>
              <td>{{ producto.cantidadInicial || '0' }}</td>
              <td>{{ producto.cantidadActual || '0' }}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <!-- Incidentes -->
    <section class="incidentes-section">
      <h3 class="section-header">Incidentes</h3>
      <div *ngIf="envioData?.incidentes && envioData.incidentes.length > 0; else noIncidentes">
        <div class="incidentes-container">
          <div *ngFor="let incidente of envioData.incidentes" class="incidente-card">
            <div class="incidente-header">
              <p class="incidente-fecha"> {{ incidente.fecha | date: 'dd/MM/yyyy' }}</p>
              <p class="incidente-hora"> {{ formatTime(incidente.hora) }}</p>
            </div>
            <div class="incidente-content">
              <p class="incidente-descripcion"><strong>Descripción:</strong> {{ incidente.descripcion }}</p>
              <p class="incidente-tipo"><strong>Tipo:</strong> {{ incidente.type }}</p>
              <ng-container *ngIf="incidente.evidenciaFotograficaUrl">
                <p><strong>Evidencia Fotográfica:</strong></p>
                <img 
                  [src]="incidente.evidenciaFotograficaUrl" 
                  alt="Evidencia Fotográfica" 
                  class="evidencia-img" 
                  (click)="openModal(incidente.evidenciaFotograficaUrl)"
                />
              </ng-container>
              <div *ngIf="incidente.productosAfectados && incidente.productosAfectados.length > 0" class="productos-afectados">
                <p><strong>Productos Afectados:</strong></p>
                <ul>
                  <li *ngFor="let producto of incidente.productosAfectados">
                    <img *ngIf="producto.urlImagen" [src]="producto.urlImagen" alt="{{ producto.producto }}" class="producto-img" />
                    {{ producto.cantidad }} x {{ producto.producto }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noIncidentes>
        <p class="no-data-message">No hay incidentes registrados.</p>
      </ng-template>
    </section>
    

    <!-- Entregas -->
    <aside class="entregas-section">
      <h3 class="section-header">Entregas</h3>
      <p-accordion *ngIf="envioData.entregas && envioData.entregas.length > 0; else noEntregas">
        <p-accordionTab *ngFor="let entrega of envioData.entregas" 
                        [header]="'Entrega del ' + (entrega.fecha | date: 'dd/MM/yyyy') + ' a las ' + formatTime(entrega.hora)">
          <div class="entrega-details">
            <p><strong>Comedor Solidario:</strong> {{ entrega.comedorSolidario }}</p>
            <p><strong>Dirección:</strong> {{ entrega.comedorDireccion }}</p>
            <p><strong>Realizador:</strong> {{ entrega.realizador }}</p>
    
            <!-- Mostrar la cantidad total de productos entregados -->
            <div *ngIf="entrega.productosEntregados > 0">
              <p><strong>Total de Productos Entregados:</strong> {{ entrega.productosEntregados }}</p>
            </div>
    
            <!-- Acta Legal -->
            <div *ngIf="entrega.url_acta_legal">
              <p><strong>Acta Legal:</strong></p>
              <a [href]="entrega.url_acta_legal" target="_blank">Ver Acta Legal</a>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
      
      <!-- Mensaje si no hay entregas -->
      <ng-template #noEntregas>
        <p class="no-data-message">No hay entregas registradas.</p>
      </ng-template>
    </aside>
    
    
  </div>
</div>



<!-- Mensaje de carga -->
<div *ngIf="!envioData">
  <p>Cargando datos del envío...</p>
</div>


<div *ngIf="modalImageUrl" class="modal" (click)="closeModal()">
  <img [src]="modalImageUrl" alt="Imagen en grande" class="modal-image" />
</div>

