<div class="perfil-contenido">  
  <div class="perfil-header">
    <h2>Perfil de Usuario</h2>
    <p>{{ usuario.nombre }} {{ usuario.apellidoPaterno }}</p>
  </div>

  <div class="perfil-main">
    <div class="perfil-datos">
      <p-card styleClass="perfil-card mb-3">
        <ng-template pTemplate="header">
          <div class="perfil-imagen-container">
            <img 
              [src]="usuario.imageUrl || 'assets/default-user.png'" 
              alt="Imagen del Usuario" 
              class="perfil-imagen" 
            />
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="perfil-informacion">
            <p><i class="pi pi-user"></i> <strong>Nombre: </strong> {{ " "+usuario.nombre }} {{ usuario.apellidoPaterno }} {{ usuario.apellidoMaterno }}</p>
            <p><i class="pi pi-envelope"></i> <strong>Email: </strong> {{ " "+usuario.email }}</p>
            <p><i class="pi pi-id-card"></i> <strong>RUT: </strong> {{ " "+usuario.rut }}</p>
            <p><i class="pi pi-users"></i> <strong>Roles: </strong> {{ " "+usuario.roles.join(', ') }}</p>
          </div>
          <!-- Botón para editar el perfil -->
          <div class="perfil-boton-editar">
            <button pButton type="button" label="Editar Perfil" icon="pi pi-pencil" class="p-button-info" title="Editar el perfil del usuario"></button>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="perfil-opciones">
      <p-card styleClass="perfil-card-opciones">
        <ng-template pTemplate="content">
          <button pButton type="button" icon="pi pi-cog" class="p-button-secondary mb-2" title="Configuración"></button>
          <button pButton type="button" icon="pi pi-sign-out" class="p-button-danger" title="Cerrar Sesión" (click)="logout()"></button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
