<div class="gestion-usuarios-container">
  <div class="overlay" *ngIf="mostrarDialogoAgregar || mostrarDialogoDetalles"></div>
  <div class="overlay" *ngIf="mostrarDialogoEditar || mostrarDialogoAgregar || mostrarDialogoDetalles"></div>

  <!-- Encabezado con botón de agregar usuario -->
  <div class="header">
    <h2 class="header-title">Gestión de Usuarios</h2>
    <button class="btn-link" (click)="abrirDialogoAgregar()">+ Agregar Usuario</button>
  </div>

  <!-- Tarjeta con la tabla de usuarios -->
  <div class="usuarios-list-card">
    <h3>Listado de Usuarios</h3>
    <!-- Botones Editar y Eliminar en cada fila -->
<table class="usuarios-table" *ngIf="usuarios.length > 0; else noUsuarios">
  <thead>
    <tr>
      <th>ID</th>
      <th>RUT</th>
      <th>Nombre Completo</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.rut }}</td>
      <td>{{ usuario.nombre }} {{ usuario.apellidoPaterno }} {{ usuario.apellidoMaterno }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.roles.join(', ') }}</td>
      <td>
        <button (click)="abrirDialogoEditar(usuario)" class="icon-button" title="Editar">
          <i class="pi pi-pencil"></i> <!-- Icono de edición -->
        </button>
        <button (click)="eliminarUsuario(usuario.id)" class="icon-button" title="Eliminar">
          <i class="pi pi-trash"></i> <!-- Icono de eliminar -->
        </button>
      </td>
      
    </tr>
  </tbody>
</table>

<p-confirmDialog></p-confirmDialog>



<!-- Diálogo para editar usuario -->
<div class="custom-dialog" *ngIf="mostrarDialogoEditar">
  <div class="custom-dialog-content">
    <h3>Editar Usuario</h3>
    <div class="p-fluid">
      <div class="field">
        <label for="rut">RUT</label>
        <input id="rut" [(ngModel)]="usuarioEditable.rut" name="rut" type="text" required pattern="^\d{7,8}-[0-9kK]$" #rut="ngModel" />
        <small *ngIf="rut.invalid && rut.touched" class="text-danger">
          <span *ngIf="rut.errors?.['required']">El RUT es obligatorio.</span>
          <span *ngIf="rut.errors?.['pattern']">El RUT debe tener un formato válido.</span>
        </small>
      </div>
      <div class="field">
        <label for="nombre">Nombre</label>
        <input id="nombre" [(ngModel)]="usuarioEditable.nombre" name="nombre" type="text" required minlength="3" #nombre="ngModel" />
        <small *ngIf="nombre.invalid && nombre.touched" class="text-danger">
          <span *ngIf="nombre.errors?.['required']">El nombre es obligatorio.</span>
          <span *ngIf="nombre.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</span>
        </small>
      </div>
      <div class="field">
        <label for="apellidoPaterno">Apellido Paterno</label>
        <input id="apellidoPaterno" [(ngModel)]="usuarioEditable.apellidoPaterno" name="apellidoPaterno" type="text" required minlength="3" #apellidoPaterno="ngModel" />
        <small *ngIf="apellidoPaterno.invalid && apellidoPaterno.touched" class="text-danger">
          <span *ngIf="apellidoPaterno.errors?.['required']">El apellido paterno es obligatorio.</span>
          <span *ngIf="apellidoPaterno.errors?.['minlength']">Debe tener al menos 3 caracteres.</span>
        </small>
      </div>
      <div class="field">
        <label for="apellidoMaterno">Apellido Materno</label>
        <input id="apellidoMaterno" [(ngModel)]="usuarioEditable.apellidoMaterno" name="apellidoMaterno" type="text" minlength="3" #apellidoMaterno="ngModel" />
        <small *ngIf="apellidoMaterno.invalid && apellidoMaterno.touched" class="text-danger">
          <span *ngIf="apellidoMaterno.errors?.['minlength']">Debe tener al menos 3 caracteres.</span>
        </small>
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input id="email" [(ngModel)]="usuarioEditable.email" name="email" type="email" required #email="ngModel" />
        <small *ngIf="email.invalid && email.touched" class="text-danger">
          <span *ngIf="email.errors?.['required']">El email es obligatorio.</span>
          <span *ngIf="email.errors?.['email']">Debe ingresar un email válido.</span>
          <span *ngIf="email.errors?.['emailDuplicado']">Este email ya está en uso por otro usuario.</span>
        </small>

        <p>* Considerar que no se puede enviar la edición si hay otro usuario con el email que se está editando</p>
      </div>
      
      <div class="field">
        <label for="roles">Roles</label>
        <p-multiSelect [(ngModel)]="usuarioEditable.roles" name="roles" [options]="rolesOptions" defaultLabel="Selecciona roles" required #roles="ngModel" class="w-100">
        </p-multiSelect>
        <small *ngIf="roles.invalid && roles.touched" class="text-danger">
          Debe seleccionar al menos un rol.
        </small>
      </div>
      <div class="dialog-footer d-flex justify-content-end gap-2">
        <button class="btn btn-primary" (click)="guardarCambiosUsuario()">Guardar</button>
        <button class="btn btn-secondary" (click)="cerrarDialogoEditar()">Cancelar</button>
      </div>
    </div>
    
  </div>
  
</div>


    <ng-template #noUsuarios>
      <p class="no-usuarios">No hay usuarios registrados.</p>
    </ng-template>
  </div>

  <!-- Diálogo de detalles del usuario -->
  <div class="custom-dialog" *ngIf="mostrarDialogoDetalles">
    <div class="custom-dialog-content">
      <h3>Detalles del Usuario</h3>
      <div class="detalles-contenido centrado">
        <p><strong>ID:</strong> {{ usuarioSeleccionado?.id }}</p>
        <p><strong>RUT:</strong> {{ usuarioSeleccionado?.rut }}</p>
        <p><strong>Nombre:</strong> {{ usuarioSeleccionado?.nombre }} {{ usuarioSeleccionado?.apellidoPaterno }} {{ usuarioSeleccionado?.apellidoMaterno }}</p>
        <p><strong>Email:</strong> {{ usuarioSeleccionado?.email }}</p>
        <p><strong>Roles:</strong> {{ usuarioSeleccionado?.roles?.join(', ') }}</p>
      </div>
      <div class="dialog-footer">
        <button class="btn-cancel" (click)="cerrarDialogoDetalles()">Cerrar</button>
      </div>
    </div>
  </div>

  <!-- Diálogo para agregar usuario -->
  <p-dialog [(visible)]="mostrarDialogoAgregar" header="Agregar Usuario" [modal]="true" [closable]="false" [style]="{ width: '40vw', maxWidth: '500px' }">
    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" class="p-fluid">
      <div class="p-grid p-align-stretch">
        
        <div class="p-field p-col-12">
          <label for="rut" class="dialog-label">RUT</label>
          <input id="rut" pInputText formControlName="rut" class="dialog-input" placeholder="Ej: 12345678-9" />
          <small *ngIf="usuarioForm.get('rut')?.invalid && usuarioForm.get('rut')?.touched" class="text-danger">
            {{ getRutErrorMessage() }}
          </small>
        </div>
  
        <div class="p-field p-col-12">
          <label for="nombre" class="dialog-label">Nombre</label>
          <input id="nombre" pInputText formControlName="nombre" class="dialog-input" />
          <small *ngIf="usuarioForm.get('nombre')?.invalid && usuarioForm.get('nombre')?.touched" class="text-danger">
            {{ getNombreErrorMessage() }}
          </small>
        </div>
  
        <div class="p-field p-col-12">
          <label for="apellidoPaterno" class="dialog-label">Apellido Paterno</label>
          <input id="apellidoPaterno" pInputText formControlName="apellidoPaterno" class="dialog-input" />
          <small *ngIf="usuarioForm.get('apellidoPaterno')?.invalid && usuarioForm.get('apellidoPaterno')?.touched" class="text-danger">
            {{ getApellidoPaternoErrorMessage() }}
          </small>
        </div>
  
        <div class="p-field p-col-12">
          <label for="apellidoMaterno" class="dialog-label">Apellido Materno</label>
          <input id="apellidoMaterno" pInputText formControlName="apellidoMaterno" class="dialog-input" />
          <small *ngIf="usuarioForm.get('apellidoMaterno')?.invalid && usuarioForm.get('apellidoMaterno')?.touched" class="text-danger">
            {{ getApellidoMaternoErrorMessage() }}
          </small>
        </div>
        
  
        <div class="p-field p-col-12">
          <label for="email" class="dialog-label">Email</label>
          <input 
            id="email" 
            pInputText 
            formControlName="email" 
            class="dialog-input" 
            (focus)="usuarioForm.get('email')?.markAsTouched()" 
            (blur)="usuarioForm.get('email')?.markAsDirty()" 
          />
          <small 
            *ngIf="(usuarioForm.get('email')?.touched || usuarioForm.get('email')?.dirty) && getEmailErrorMessage()"
            class="text-danger"
          >
            {{ getEmailErrorMessage() }}
          </small>
        </div>
        
  
        <div class="p-field p-col-12">
          <label for="password" class="dialog-label">Contraseña</label>
          <p-password 
            id="password" 
            formControlName="password" 
            class="dialog-input" 
            promptLabel="La contraseña debe tener al menos 6 caracteres, una mayúscula, una minúscula y un número" 
            feedback="true" 
            [toggleMask]="true">
          </p-password>
          <small *ngIf="usuarioForm.get('password')?.invalid && usuarioForm.get('password')?.touched" class="text-danger">
            La contraseña debe tener al menos 6 caracteres, una mayúscula, una minúscula y un número.
          </small>
        </div>
  
        <div class="p-field p-col-12">
          <label for="roles" class="dialog-label">Roles</label>
          <p-multiSelect
            id="roles"
            formControlName="roles"
            [options]="rolesOptions"
            display="chip"
            defaultLabel="Seleccione roles"
            appendTo="body"
            class="dialog-input w-full"
          ></p-multiSelect>
          <small *ngIf="usuarioForm.get('roles')?.invalid && usuarioForm.get('roles')?.touched" class="text-danger">
            Debe seleccionar al menos un rol.
          </small>
        </div>
      </div>
      
      <p-footer>
        <div class="button-container">
          <button pButton type="submit" class="p-button p-button-primary dialog-button-save" [disabled]="usuarioForm.invalid">Añadir</button>
          <button pButton type="button" class="p-button p-button-secondary dialog-button-cancel" (click)="cerrarDialogoAgregar()">Cancelar</button>
        </div>
      </p-footer>
    </form>
   
  </p-dialog>
  
  
  
  
  
</div>
