<div class="contenido">
  <h3>PLANIFICACIÓN SEMANAL</h3>
  <div class="semana mt-4">
    <div *ngFor="let day of daysOfWeek" 
         class="day-container" 
         [class.active]="day.isToday" 
         (click)="openPlanningPopup(day)">
      <div class="day">
        <h2>{{ day.day }}</h2>
        <h6 class="fecha">{{ day.date }}</h6>
        <h6 *ngIf="day.isToday" class="hoy">Hoy</h6>
      </div>
    </div>
    <div class="plan-futuro" (click)="redirectToPlanificacion()">&#62;&#62;&#62;</div>
  </div>
</div>

<p-dialog header="Planificación del Día - {{ selectedDay }}" [(visible)]="displayPlanningPopup" [modal]="true" [closable]="true" (onHide)="selectedDayPlanning = null">
  <div *ngIf="selectedDayPlanning">
    <p-dataView [value]="selectedDayPlanning.detalles" layout="list">
      <ng-template pTemplate="list" let-detalle>
        <div class="grid grid-nogutter">
          <div class="col-12" *ngFor="let item of selectedDayPlanning.detalles">
            <div class="flex flex-column sm:flex-row align-items-center p-4 gap-3">
              <div class="image-container">
                <img class="block xl:block mx-auto border-round w-full" 
                     [src]="item.urlImagen" 
                     [alt]="item.producto" 
                     style="width: 80px; height: 80px; object-fit: cover;" />
              </div>
              <div class="details-container flex flex-column gap-4">
                <div class="product-info">
                  <span class="font-medium text-secondary text-sm">Producto</span>
                  <div class="text-lg font-medium text-900 mt-2">{{ item.producto }}</div>
                </div>
                <div class="surface-100 p-1" style="border-radius: 30px">
                  <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" 
                       style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                    <span class="text-900 font-medium text-sm">Cantidad Planificada</span>
                    <span class="text-900 font-medium text-sm">{{ item.cantidadPlanificada }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="empty">
        <p>No hay planificación para este día.</p>
      </ng-template>
    </p-dataView>
  </div>
</p-dialog>


<div class="row mt-4">
  <div class="col-6">
    <div class="contenido">
      <h2>Lista de Tandas Recientes</h2>
      <p-table [value]="tandasRecientes" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10]">
        <ng-template pTemplate="header">
          <tr>
            <th>Producto</th>
            <th>Fecha de Llegada</th>
            <th>Cantidad</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tanda>
          <tr>
            <td>{{ tanda.producto }}</td>
            <td>{{ tanda.fechaLlegada | date: 'dd-MM-yyyy' }}</td>
            <td>{{ tanda.cantidadActual }}</td>
          </tr>
        </ng-template>
      </p-table>
      <div *ngIf="!isLoading && tandasRecientes.length === 0">No hay tandas disponibles.</div>
    </div>
  </div>
  
  <div class="col-6">
    <div class="contenido planificacion">
      <h2>Planificación del Día: {{ selectedDay }}</h2>
      <div class="divider"></div>
      <div class="dataview-center">
        <p-dataView #dv [value]="planningData?.detalles" layout="list">
          <ng-template pTemplate="list" let-detalle>
            <div class="grid grid-nogutter">
              <div class="col-12" *ngFor="let item of planningData.detalles; let first = first">
                <div class="flex flex-row align-items-center p-4 gap-3" 
                     [ngClass]="{ 'border-top-1 surface-border': !first }">
                  <div class="image-container">
                    <img class="block border-round" 
                         [src]="item.urlImagen" 
                         [alt]="item.producto" 
                         style="width: 80px; height: 80px; object-fit: cover;" />
                  </div>
                  <div class="details-container flex flex-column gap-2" style="flex-grow: 1;">
                    <div class="product-info">
                      <span class="font-medium text-secondary text-sm">Producto</span>
                      <div class="text-lg font-medium text-900 mt-1">{{ item.producto }}</div>
                    </div>
                    <div class="surface-100 p-1" style="border-radius: 30px">
                      <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" 
                           style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                        <span class="text-900 font-medium text-sm">Cantidad Planificada </span>
                        <span class="text-900 font-medium text-sm">{{ item.cantidadPlanificada }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
              </div>
              
            </div>
          </ng-template>
          <ng-template pTemplate="empty">
            <p>No hay planificación para este día.</p>
          </ng-template>
        </p-dataView>
      </div>
    </div>
  </div>
  
  


</div>
