<div class="contenido">
  <h2 class="titulo-planificacion">Planificación Para Esta Semana</h2>
  
  <div class="semana">
    <div *ngFor="let day of daysOfWeek" 
         class="calendar-day-container" 
         [class.active]="day.isToday"
         (click)="onSelectDate(day)">
      <div class="calendar-day">
        <h5 class="day-name">{{ translateDay(day.day) }}</h5>
        <h1 class="day-number">{{ day.date | date: 'd' }}</h1>
        <h6 class="month-name">{{ translateMonth(day.date | date: 'MMMM') }}</h6> <!-- Traduce el mes -->
        <h6 *ngIf="day.isToday" class="hoy-indicator">Hoy</h6>
      </div>
    </div>
    <div class="plan-futuro" (click)="redirectToPlanificacion()">&#62;&#62;&#62;</div>
  </div>
  
</div>


<div class="row mt-4">
  <div class="col-6">
    <div class="contenido tandas-recientes">
      <h4 class="titulo-tandas">Tandas más recientes añadidas</h4>
      <p-carousel 
        [value]="tandasRecientes" 
        [numVisible]="1" 
        [numScroll]="1" 
        [circular]="true" 
        [autoplayInterval]="6000">
        
        <ng-template pTemplate="item" let-tanda>
          <div class="tanda-card">
            <h5 class="tanda-title">Tanda #{{ tandasRecientes.indexOf(tanda) + 1 }}</h5>
            <p><strong>Producto:</strong> {{ tanda.producto }}</p>
            <p><strong>Cantidad Ingresada:</strong> {{ tanda.cantidadIngresada }}</p>
            <p><strong>Cantidad Actual:</strong> {{ tanda.cantidadActual }}</p>
            <p><strong>Fecha de Llegada:</strong> {{ tanda.fechaLlegada | date }}</p>
            <p><strong>Fecha de Vencimiento:</strong> {{ tanda.fechaVencimiento | date }}</p>
            <p><strong>Bodega:</strong> {{ tanda.bodega }}</p>
            <p><strong>Ubicación:</strong> {{ tanda.ubicacion }}</p>
          </div>
        </ng-template>
      </p-carousel>
  
      <ng-template #noTandas>
        <p>No se encontraron tandas recientes.</p>
      </ng-template>
    </div>
  </div>
  

  <div class="col-6">
    <div class="contenido planificacion " *ngIf="planningData">
      <div class="planificacion-header">
        <h2 class="planificacion-title">Planificación del Día {{ selectedDayName }}</h2>
        <div class="calendar-icon">
          <h1>{{ planningData?.fecha | date: 'd' }}</h1>
          <p>{{ translateMonth(planningData?.fecha | date: 'MMMM') }}</p>
        </div>
      </div>
  
      <div *ngIf="planningData && planningData.detalles?.length > 0; else noPlanificacion">
        <div class="detalle-lista fade-in">
          <div *ngFor="let detalle of planningData.detalles" class="detalle-item fade-in">
            <div class="detalle-content">
              <div class="detalle-imagen">
                <img [src]="detalle.urlImagen" alt="{{ detalle.producto }}" />
              </div>
              <div class="detalle-info">
                <h5>{{ detalle.producto }}</h5>
                <p><strong>Cantidad Planificada:</strong> {{ detalle.cantidadPlanificada }}</p>
                <p><strong>Estado:</strong> 
                  <span [ngClass]="{ 'estado-completo': detalle.isComplete, 'estado-pendiente': !detalle.isComplete }">
                    {{ detalle.isComplete ? 'Completo' : 'Pendiente' }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <ng-template #noPlanificacion>
        <p>No se encontró planificación para la fecha seleccionada.</p>
      </ng-template>
  
      <button (click)="redirectToPlanificacion()" class="btn-redirect">
        <i class="bi bi-calendar-week"></i> Planificar
      </button>
    </div>
  </div>
  

  
</div>


<div >
  <app-dashboard></app-dashboard>
</div>
