.contenido {
  padding: 15px; /* Menos padding */
  border-radius: 10px; /* Bordes más redondeados */
  background-color: #ffffff; /* Fondo blanco */
}
.contenido h3{
  font-size: 0.9rem; 
}
.semana {
  display: flex;
  justify-content: space-between; /* Espacio uniforme entre elementos */
  flex-wrap: wrap;
  padding: 5px; /* Reduce padding */
  border-radius: 10px; /* Bordes más redondeados */
  margin: 5px 0; /* Reduce margen */
  border: 1px solid #def4ff; 
  box-shadow: 0 0 10px rgba(228, 246, 255, 0.5); /* Sombra más sutil */
}

.semana::before {
  position: absolute;
  top: -5px; /* Ajusta la posición del borde superior */
  left: -5px; /* Ajusta la posición del borde izquierdo */
  right: -5px; /* Ajusta la posición del borde derecho */
  border-radius: 15px; /* Redondear bordes */
}

.day-container {
  flex: 1 1 18%; /* Mantiene el ancho como antes */
  background-color: #c5edff;
  padding: 5px 0; /* Reduce el padding vertical para disminuir la altura */
  border-radius: 10px;
  margin: 5px; /* Reduce el margen */
  height: 50px; /* Establece una altura deseada, ajústalo según sea necesario */
  display: flex; /* Permite alinear el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  font-size: 0.9rem; /* Ajusta el tamaño de la fuente según lo necesites */
}
.day-container:hover {
  transform: scale(1.05); /* Aumenta el tamaño al 105% */
  border: 1px solid #9bdeff; 
  box-shadow: 0 0 5px rgba(179, 230, 255, 0.9); /* Sombra más intensa */
}
.day-container.active {
  background-color: #a2e2ff; /* Mantiene el mismo estilo que los demás */
  border: 2px solid #4fc4ff;
  box-shadow: 0 0 20px rgba(228, 246, 255, 0.8), 0 0 40px rgba(241, 250, 255, 0.6);
}
.day {
  display: flex;
  flex-direction: column; /* Alinea el texto verticalmente */
  text-align: center; /* Centra el texto horizontalmente */
  padding: 5px; /* Espacio interno */
  font-size: 0.8rem; /* Tamaño general */
}

.day h2 {
  font-size: 0.8rem; /* Tamaño del día */
  margin: 0; /* Sin margen */
}

.day h6 {
  font-size: 0.7rem; /* Tamaño para fechas */
  margin: 0; /* Sin margen */
}

.hoy {
  font-size: 0.5rem; /* Tamaño más pequeño para "Hoy" */
  margin-top: 4px; /* Espaciado superior */
  margin-bottom: 0; /* Sin margen inferior */
}



.plan-futuro {
  font-weight: bold;
  cursor: pointer;
  color: #666;
  margin-left: 10px;
  align-self: center;
}

.fecha {
  font-size: 0.7rem; /* Reduce el tamaño de la fecha */
}
.divider {
  height: 1px; /* Altura del separador */
  background-color: #e0e0e0; /* Color del separador */
  margin: 16px 0; /* Espacio alrededor del separador */
  width: 100%; /* Ancho completo */
}



@media (max-width: 768px) {
  .day-container {
    flex: 1 1 45%; /* Cambia a 45% para pantallas más pequeñas */
    margin: 5px 1%; /* Ajusta margen */
  }
}

/* Cambios en pantallas pequeñas */
@media (max-width: 480px) {
  .day-container {
    flex: 1 1 90%; /* Cambia a 90% para pantallas más pequeñas */
  }
}

/* Limita el ancho del contenedor de las tandas y habilita el desplazamiento horizontal */
.tandas-list-container {
  max-width: 100%; /* Puedes ajustar el valor según lo que necesites */
  overflow-x: auto;
  white-space: nowrap; /* Evita que los elementos se rompan en varias líneas */
  padding-bottom: 10px; /* Añade un poco de espacio debajo para el scrollbar */
}

.dataview-center {
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  text-align: center; /* Centra el texto dentro de los elementos */
}
.image-container {
  flex-shrink: 0; /* Asegúrate de que la imagen no se reduzca */
  width: 60px; /* Ancho más pequeño para la imagen */
  height: 60px; /* Alto más pequeño para la imagen */
}

.details-container {
  flex-grow: 1; /* Permite que el contenedor de detalles ocupe el espacio restante */
  display: flex;
  flex-direction: column; /* Organiza la información verticalmente */
  justify-content: center; /* Centra verticalmente la información */
  margin-left: 8px; /* Menos espacio entre la imagen y el texto */
}

.product-info {
  display: flex;
  flex-direction: column; /* Asegura que la información del producto esté apilada */
}

.surface-100 {
  background-color: #f5f5f5; /* Fondo claro para resaltar la información */
  border-radius: 30px; /* Bordes redondeados */
  padding: 4px; /* Menos espacio interno */
}
